.button {
    display: flex;
}
.default {
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.3em;
    color: #e74c3c;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    font-size: 1rem;
    font-weight: 200;
    line-height: 1;
    margin: 12px;
    padding: 0.4em 0.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.default:hover, .default:focus {
    color: #ffffff;
    outline: 0;
}

.third {
    border-color: #20daf1;
    color: #ffffff;
    box-shadow: 0 0 40px 40px #24d9e0 inset, 0 0 0 0 #24d9e0;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    background: #454a54;
}
.third:hover {
    box-shadow: 0 0 10px 0 #24d9e0 inset, 0 0 10px 4px #24d9e0;
}
.third:disabled {
    box-shadow: 0 0 0px 0  inset, 0 0 0px 0px ;
    color: #3f5581;
}
.red {
    background: red;
}